# exportPattern("^[[:alpha:]]+")
import(
	"BoutrosLab.dist.overload", 
	"BoutrosLab.statistics.general",
  	"BoutrosLab.utilities", 
	"MASS", 
	"cluster", 
	"hexbin", 
	"lattice",
  	"latticeExtra",
	"grid"
	);
export(
	"append.footnote",
	"colour.gradient",
	"covariates.grob",
	"create.colourkey",
	"create.barplot",
	"create.boxplot",
	"create.colourkey",
	"create.dendrogram",
	"create.densityplot",
	"create.dotmap",
	"create.heatmap",
	"create.hexbinplot",
	"create.histogram",
	"create.manhattanplot",
	"create.multiplot",
	"create.polygonplot",
	"create.qqplot.fit",
	"create.qqplot.comparison",
	"create.scatterplot",
	"create.segplot",
	"create.stripplot",
	"create.violinplot",
	"default.colours",
	"display.colours",
	"display.statistical.result",
	"force.colour.scheme",
	"generate.at.final",
	"get.corr.key",
	"get.defaults",
	"get.line.breaks",
	"legend.grob",
	"embed.plot",
	"scientific.notation",
	"show.available.palettes",
	"write.metadata",
	"write.plot"
	);

